@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


body {
    background-color: #131316;
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    padding: 0;
    margin: 0;
    margin: 15px;
}

.main-content {
    max-width: 800px; 
    margin: 0 auto; 
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }