@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Geologica, sans-serif;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  background-color: black;
}

.nav-container {
  background-color: inherit;
  color: white;
  padding: 1rem 0;
  width: 89%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-container a:visited {
    text-decoration: none;
}

.nav-menu li {
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0 4px;
}

.nav-menu a {
    color: #ffff;
}



.nav-right {
  display: flex;
  gap: 2rem;
}

.nav-container button {
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
  background: linear-gradient(to right, #3f5efb, #fc466b);
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 30px;
}

.bar {
  background-color: white;
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 225, 225);
  height: 75vh;
}

.hero-container {
  width: 89%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container h1 {
  font-size: 50px;
}

.hero-container span {
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #5239f6, #32fd43);
  background: linear-gradient(to right, #5239f6, #32fd43);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  width: 100%;
  text-align: center;
}

.divider-container {
  background-color: black;
  width: 50%;
  margin: auto;
  margin-top: -3rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.divider-container h1 {
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #eefb3f, #fd8632);
  background: linear-gradient(to right, #eefb3f, #fd8632);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.form-container {
    text-align: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.form-input {
    background: #f9f9f9;
    padding: 50px 100px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #474747, 15px 15px 1px 2px black;
    
  }

input {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Fjalla One";
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: #f9f9f9;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: black;
}


@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 4rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    right: -100%;
    transition: 0.3s;
    background-color: black;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    padding: 1.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .divider-container {
    width: 80%;
    height: 4rem;
  }

  .divider-container h1 {
    font-size: 2rem;
  }
}