<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Prices</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/results.css') }}">
   
</head>
<body>
    <h1>Babel</h1>

    <div class="main-content">
        <div class="div-container">
            <div class="division" id="div-1">
                <h2>Busca Libre</h2>
                <p>$10.000</p>
            </div>
            <div class="division" id="div-2">
                <h2>Libra Books</h2>
                <p>$10.000</p>
            </div>
        </div>

        <div class="div-container">
            <div class="division" id="div-3">
                <h2>Librería Antartica</h2>
                <p>$10.000</p>
            </div>
            <div class="division" id="div-4">
                <h2>Green Libros</h2>
                <p>$10.000</p>
            </div>
        </div>
    </div>

    
    

</body>
</html>